.nutrition p {
  margin-bottom: 8px;
}
table {
  padding: 6px 32px;
  border-collapse: collapse;
  width: 100%;
}

tr {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}
tr:last-child {
  border-bottom: 0;
}
th,
td {
  flex: 1;
  padding: 14px 0;
}

td {
  font-weight: 700;
  color: var(--Nutmeg);
  margin-left: -12px;
}

th {
  text-align: justify;
  padding-left: 32px;
  font-weight: 400;
}
