main h1 {
  font-size: 2.25rem;
  font-family: "Young Serif", serif;
  line-height: 1.1;
  color: var(--Dark-Charcoal);
  font-weight: 400;
}

main p {
  margin-top: 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--Dark-Charcoal);
}

@media (min-width: 1024px) {
  main h1 {
    font-size: 2.5rem;
  }
}
