section.preparation {
  background-color: var(--Rose-White);
  border-radius: 10px;
  margin: 2rem 0 1.5rem;
  padding: 22px;
  padding-bottom: 12px;
  color: var(--Dark-Raspberry);
}

.preparation h2 {
  font-size: 1.125rem;
  margin-bottom: 16px;
}
.preparation ul {
  margin-left: 26px;
}

.preparation li {
  padding-left: 16px;
  margin-bottom: 14px;
}

.preparation span {
  color: var(--Dark-Charcoal);
}

@media (min-width: 1024px) {
  section.preparation {
    margin: 36px 0 18px;
    padding: 22px;
  }
}
